# manual
temp
temp/*
logs/
wandb/
*.pt
*.pth
*.ckpt
*.ckp
*.parquet
site/
site/*
ambient_diffusion.pdf
docs/assets/ambient_diffusion.pdf
data/glorys_argo_alignment
outputs/*
inference/outputs/*
inference/
src/depth_recon/inference/outputs/*
src/depth_recon/inference/outputs_v1_backup.zip
TODO
administration/
inference/outputs_v1_backup.zip
tok.txt
src/depth_recon/inference/outputs
commands.txt
src/depth_recon/data/local_data/
temp/
instructions

# Packages
*.egg-info
build
dist

# temp file types
*.csv
*.geojson
*.json
!docs/assets/figures/depthdif_paper_header_gulf_stream_20180622.json
*.tif
*.tiff
*.geotiff
!src/depth_recon/data/dataset_creation/data_download_raw/get_world/world_land_mask_glorys_0p1.tif
!src/depth_recon/inference/
!src/depth_recon/inference/export_global_variables.py
!src/depth_recon/inference/transforms/
!src/depth_recon/inference/transforms/salinity_blue_green_ramp.txt
!src/depth_recon/inference/transforms/globe-config.template.json

# Ckpts
*.ckpt
*.pt
*.pth
*.parquet

# AI
AGENTS.md
.github/copilot-instructions.md

# auto
.DS_Store
.huskyrc.json
out
log.log
**/node_modules
*.pyc
*.vsix
envVars.txt
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
.vscode
.vscode/*
__pycache__
*__pycache__*
*.log
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
cucumber-report.json
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
port.txt
precommit.hook
python_files/lib/**
python_files/get-pip.py
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/
test-results*.xml
xunit-test-results.xml
build/ci/performance/performance-results.json
!build/
debug*.log
debugpy*.log
pydevd*.log
nodeLanguageServer/**
nodeLanguageServer.*/**
dist/**
# translation files
*.xlf
package.nls.*.json
l10n/
python-env-tools/**
# coverage files produced as test output
python_files/tests/*/.data/.coverage*
python_files/tests/*/.data/*/.coverage*
src/testTestingRootWkspc/coverageWorkspace/.coverage
